{% extends 'layouts/app.mobile.twig' %}

{% block title %}Sobre{% endblock %}

{% block slide %}
    {% include 'layouts/slide.mobile.twig' %}
{% endblock %}


{% block content %}

    <h1 class="text-title mt-3">Fusion Security</h1>

    <p class="text-justify mb-0">
    	A Fusion Security nasceu da fusão entre duas empresas do ramo de segurança, HDL SERVICE Sistema de Segurança e SATcar Rastreamento Automotivo. Onde da unificação de ambas surgiu o nome da atual empresa.
    </p>
    <p class="text-justify mt-3">
    	Hoje, Fusion, uma empresa totalmente renovada, atualizada e voltada totalmente para segurança eletrônica, rastreamento veícular e avançado para área de segurança privada com serviços de escolta e proteção.
    </p>

    <div class="d-flex align-items-center justify-content-center ml--30">
    	<i class="fa fa-handshake fs-28 mr-2" style="margin-top:4px;"></i> 
    	<span class="text-title">Missão</span>
    </div>

    <p class="bg-secondary text-white p-3 rounded text-justify">
    	Nossa missão é proteger nossos clientes e seus patrimônios, com uma extensa gama de equipamentos, serviço e profissionais totalmente qualificados em diversas áreas de segurança.
    </p>

    <div class="d-flex align-items-center justify-content-center ml--30">
    	<i class="fa fa-eye fs-28 mr-2" style="margin-top:4px;"></i> 
    	<span class="text-title">Visão</span>
    </div>

    <p class="bg-secondary text-white p-3 rounded text-justify mb-4">
    	Nossa visão é sempre possuir um serviço de qualidade onde a confiança e transparência estejam sempre em primeiro lugar, estar entre as melhores empresa no ramo de segurança, manter a excelência em atendimento e com tudo isso expandir-se para a Europa.
    </p>

{% endblock %}