{% extends 'layouts/app.mobile.twig' %}

{% block title %}Serviços{% endblock %}

{% block content %}

<h1 class="text-title mb-5 mt-3">SERVIÇOS</h1>

<p class="mb-0 font-raleway weight-600">RASTREAMENTO DE VEÍCULOS</p>
<img src="../../public/img/line.png" class="mt--20">

<div class="mt--5 mb-4-5">
	<p class="text-justify mb-2">
		Consiste em um módulo rastreador instalado no carro, cujo o GPS recebe do satélite informações de latitude, longitude e direção.
		Com o veículo ligado o rastreador transmite os dados de localização e de velocidade para o sistema, assim possibilitando o monitoramento, via internet, de qualquer local.
	</p>

	<p class="text-justify mt-0">
		Quando há situações de emergência o condutor entra em contato com a central de rastreamento, assim pode até mesmo bloquear o funcionamento do veículo.
	</p>
</div>


<p class="mb-0 font-raleway weight-600">ALARME RESIDENCIAL</p>
<img src="../../public/img/line.png" class="mt--20">

<div class="mt--5 mb-4-5">
	<p class="text-justify mb-2">
		Proteção e tranquilidade são os principais objetivos para o uso de alarmes residenciais. 
	</p>
	<p class="text-justify mt-0 mb-2">
		Através de um sistema esse conjunto de equipamentos controla movimentações nas áreas externas e internas do imóvel em determinados horários, emitindo sinais quando detectam alguma atividade considerada atípica ou suspeita.
	</p>
	<p class="text-justify mt-0">
		Cada residência é diferente e , por isso, requer soluções específicas para garantir a proteção contra roubos e outras ameaças. 	
	</p>

</div>


<p class="mb-0 font-raleway weight-600">RASTREAMENTO DE CARGAS</p>
<img src="../../public/img/line.png" class="mt--20">

<div class="mt--5 mb-4-5">
	<p class="text-justify mb-2">
		O rastreamento de cargas é uma ferramenta que integra o sistema de remessa de produtos com os mecanismos estratégicos de gestão de uma empresa e tem a capacidade de registrar e analisar todas as ocorrências que aparecerem ao longo do trajeto percorrido pela carga, possibilitando a identificação de problemas e o levantamento de informações sobre o que pode ser feito para melhorar. 
	</p>
	<p class="text-justify mt-0 mb-2">
		Controlar as operações de transporte é fundamental para ter sucesso e eficiência nas atividades dia a dia da empresa, pois as informações coletadas contribuem para o controle administrativo e para o bom andamento de suas remessas.
	</p>
</div>


<p class="mb-0 font-raleway weight-600">CIRCUITO FECHADO DE TELEVISÃO</p>
<img src="../../public/img/line.png" class="mt--20">

<div class="mt--5 mb-4-5">
	<p class="text-justify mb-2">
		É um sistema de monitoramento interno, realizado através de câmeras distribuídas e conectadas a um sistema central, que disponibiliza as imagens através de monitores assim como realiza a gravação desses registros.
	</p>
	<p class="text-justify mt-0 mb-2">
		Através do uso do CFTV é possível que uma equipe de segurança monitore em tempo real e até remotamente o que está acontecendo em cada ambiente, 24 horas por dia, e tome as ações necessárias quando alguma anormalidade é detectada.
	</p>
	<p class="text-justify mt-0 mb-2">
		Além disso, ele possibilita que as imagens registradas fiquem gravadas e que possam ser analisadas posteriormente.
	</p>
</div>


<p class="mb-0 font-raleway weight-600">PORTARIA ELETRÔNICA</p>
<img src="../../public/img/line.png" class="mt--20">

<div class="mt--5 mb-4-5">
	<p class="text-justify mb-2">
		A portaria remota é uma solução tecnológica inovadora de segurança condominial que permite o controle de acesso de visitantes e prestadores de serviços à distância por meio de uma central de monitoramento. 
	</p>
	<p class="text-justify mt-0 mb-2">
		A tecnologia contribui para automatizar a vigilância em condomínios residenciais de pequeno e grande porte, reduzindo a vulnerabilidade de porteiros e condôminos.
	</p>
</div>


<p class="mb-0 font-raleway weight-600">PORTÃO ELÉTRICO</p>
<img src="../../public/img/line.png" class="mt--20">

<div class="mt--5 mb-5">
	<p class="text-justify mb-2">
		Com um portão eletrônico, a pessoa não precisa sair do carro para abri-lo, ela pode abrir à distância. Assim, o tempo de exposição fica menor, uma vez que em um portão manual, é preciso sair do carro para abri-lo e, depois de parar, é preciso voltar para fechá-lo. 
	</p>
	<p class="text-justify mt-0 mb-2">
		Além da segurança e do tempo que o usuário economizará não tendo que se preocupar com a abertura manual do portão, ele oferece praticidade e um custo-benefício ótimo.
	</p>
</div>


{% endblock %}