{% extends 'layouts/app.mobile.twig' %}

{% block title %}Serviços{% endblock %}

{% block content %}

<h1 class="text-title mb-5 mt-3">SERVIÇOS</h1>

<p class="mb-0 font-raleway weight-600">RASTREAMENTO DE VEÍCULOS</p>
<img src="../../public/img/line.png" class="mt--20">

<div class="mt--5 mb-4">
	<p class="text-justify mb-2">
		Consiste em um módulo rastreador instalado no carro, cujo o GPS recebe do satélite informações de latitude, longitude e direção.
		Com o veículo ligado o rastreador transmite os dados de localização e de velocidade para o sistema, assim possibilitando o monitoramento, via internet, de qualquer local.
	</p>

	<p class="text-justify mt-0">
		Quando há situações de emergência o condutor entra em contato com a central de rastreamento, assim pode até mesmo bloquear o funcionamento do veículo.
	</p>
</div>


<p class="mb-0 font-raleway weight-600">ALARME RESIDENCIAL</p>
<img src="../../public/img/line.png" class="mt--20">

<div class="mt--5">
	<p class="text-justify mb-2">
		Proteção e tranquilidade são os principais objetivos para o uso de alarmes residenciais. 
	</p>
	<p class="text-justify mt-0 mb-2">
		Através de um sistema esse conjunto de equipamentos controla movimentações nas áreas externas e internas do imóvel em determinados horários, emitindo sinais quando detectam alguma atividade considerada atípica ou suspeita.
	</p>
	<p class="text-justify mt-0">
		Cada residência é diferente e , por isso, requer soluções específicas para garantir a proteção contra roubos e outras ameaças. 	
	</p>

</div>

{% endblock %}