
.text-title {
    text-align: center;
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-color: rgb(214, 186, 29);
    color: #333;
}

.text-subtitle {
    text-align: center;
    font-size: 1.4rem;
    color: #333;
}

.text-content {
    text-align: justify;
    font-size: 1rem;
}



/* FONT-SIZE */
.fs-28 { font-size: 28px; }


/* MARGIN */
.mt--20 { margin-top: -20px; }
.mt--5 { margin-top: -5px; }
.ml--30 { margin-left: -30px; }
.mb-4-5 {margin-bottom: 2rem!important;}


/* WEIGHT */
.weight-100{font-weight:100;}
.weight-200{font-weight:200;}
.weight-300{font-weight:300;}
.weight-400{font-weight:400;}
.weight-500{font-weight:500;}
.weight-600{font-weight:600;}
.weight-700{font-weight:700;}
.weight-800{font-weight:800;}


/* FONT-FAMILY */
.font-raleway{font-family:'Raleway',sans-serif;}