 <footer class="footer">
        <div class="small-footer d-flex justify-content-center align-items-center">
            <div class="yellow-box d-flex flex-column justify-content-center align-items-center">
                <span>ENTRE EM CONTATO</span>
                <span>
                    <a href="#">
                        <i class="fas fa-phone" style="transform: scaleX(-1);"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-envelope"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="big-footer d-flex flex-column">
            <span style="font-size: 1.2rem; color: #fff; margin: 10px 0px; font-weight: bold">
                CONTATO
            </span>
            <a href="#">
                <i class="fas fa-map-marker-alt"></i>
                <span class="footer-text">
                    ESTRADA MARECHAL MIGUEL SALAZAR<br>MENDES DE MORAES, 946 - TAQUARA
                </span>
            </a>
            <a href="#">
                <i class="fab fa-whatsapp"></i>
                <span class="footer-text">
                    (21) 96415 - 5238
                </span>
            </a>
            <a href="#">
                <i class="fas fa-envelope"></i>
                <span class="footer-text">
                  FUSIONSECURITVENDAS@GMAIL.COM
                </span>
            </a>
            <span style="font-size: 1.2rem; color: #fff; margin: 20px 0px; font-weight: bold">
                REDES SOCIAIS
            </span>
            <div class="social-networks d-flex flex-row">
                <div class="social-icons d-flex flex-column">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <div class="instagram-widget">
                    <!-- InstaWidget -->
                        <a href="https://instawidget.net/v/user/oficinadmx" id="link-3061863a13c99403900244cf2e75ae835398c49311d9a6b3d3314a399302adca">@oficinadmx</a>
                        <script src="https://instawidget.net/js/instawidget.js?u=3061863a13c99403900244cf2e75ae835398c49311d9a6b3d3314a399302adca&width=220px"></script>
                </div>
            </div>
        </div>
    </footer>