<div id="menu-button" uk-offcanvas>
    <div class="uk-offcanvas-bar d-flex flex-column" style="background: #555; width: 200px;">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <span class="mt-3 mb-2" style="font-size: 1.6rem;">MENU</span>
        <a href="{{ path_for('home')}}">Home</a>
        <a href="{{ path_for('about')}}">Sobre</a>
        <a href="{{ path_for('services')}}">Serviços</a>
        <a href="{{ path_for('contact')}}">Contato</a>
    </div>
</div>